.pager{
	padding-bottom:20px;
}
.select-option
{
	 position: relative;
    left:1.2%;
     
}


.panel-body {
background:#E9EBEE;}
.register-form
{
   margin-top:10px;
  border-radius: 2px;
  display: inline-block;
 
}
body {
  background: #FFFFFF;
  text-align: center;
   margin-bottom: 60px;
}

.nav-bottom
{
	height: 50px;
	background-color: #e8e7e1;
}
body
{
	margin:0px;
	background-color: #f7f9f9 ;
}
.emp
{
	border:1px;
}

#footer-margin1
{
	margin-bottom:50px;
}
.button-middle
{
	margin-top:20px;
}
.name
{
    font-family: serif;
    font-style: normal;
    font-variant: small-caps;
    font-weight: bolder;
    font-size: 200%;
    line-height: 200%;
    word-spacing: 1.5ex;
    letter-spacing: normal;
    text-decoration: none;
    text-transform: none;
    text-align: left;
    text-indent: 0;
}
.name_sp {
font-weight : bold;
margin-left : 5%;
}
